
.main{
    width: 100%;
}
.header::before{
    content: none;
}
.header{
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header > button > mat-icon{
    transform: rotateZ(45deg);
}

.form{
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

mat-form-field{
    width: 100%;
}