:host {
    --primary-card: #585858;
    --background-card: #5858588a;
}

.container {
    height: calc(100vh - 85px);
    overflow-y: scroll;
    padding: 1rem 0 0 2rem;
}

.main {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cardsx {
    width: 320px;
    height: 220px;
    margin: 0 1rem 1.5rem 0;
}

.example-card {
    height: 100%;
}

mat-card {
    border-radius: 1rem;
    padding-bottom: 10px;
}

mat-card-header {
    background: var(--background-card);
    border-bottom: 3px solid var(--primary-card);
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-header>mat-icon{
    font-weight: 300;
    width: 65px;
    height: 65px;
    font-size: 65px;
}

mat-card-content::ng-deep p{
    margin: 0px;
    padding: 0px;
}

.my-paragraph {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.name{
    margin-bottom: 10px;
}
.name>p>:nth-child(2){
    margin-left: 5px;
    font-size: medium;
    font-weight: bold;

}
.acc_name>:nth-child(2){
    margin-left: 3rem;
    font-size: medium;
    font-weight: bold;
}

button {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

button:hover {
    cursor: pointer;
}

#btn1 {
    background-color: var(--background-card);
}